.container {
	padding-top: 20px;
}

.home-header {
	position: relative;
	display: flex;
	align-items: center;
}

.home-header .btn {
	position: absolute;
	right: 0px;
}

.post-card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
	margin-bottom: 20px;
}

.close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}
.close:hover {
	opacity: 1;
}
.close:before,
.close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.form-wrapper {
	background-color: #fff;
	height: 300px;
	left: 50%;
	margin: -150px 0 0 -150px;
	position: absolute;
	top: 50%;
	width: 300px;
}

.input {
	background-color: transparent;
	border: none;
	color: #000;
	font-family: 'Lato';
	box-sizing: border-box;
	position: relative;
	width: 80%;
}

.newpost-text {
	font-size: 18px;
	font-weight: 400;
	width: 95%;
}

.newpost {
	max-height: 90vh;
	overflow-y: scroll;
}

.newpost-title {
	font-size: 40px;
	font-weight: 600;
}

.sharepost-email {
	padding-left: 5px;
	font-size: 18px;
	font-weight: 400;
	background-color: #f9f9f9;
	border-radius: 4px;
	border: none;
	color: #000;
	font-family: 'Lato';
	box-sizing: border-box;
	position: relative;
	width: 80%;
	height: 30px;
	margin-bottom: 10px;
}

.sharepost-header {
	margin-bottom: 30px;
}

.sharepost-shared-item {
	display: inline-block;
	color: #000;
	background-color: #f9f9f9;
	border-radius: 6px;
	font-size: 14px;
	height: 22px;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.sharepost-shared {
	margin-bottom: 30px;
	width: 80%;
}

.newpost-btn {
	width: 100%;
	margin: 0 auto;
}

.newpost-bottom {
	width: 100%;
	margin: 0 auto;
	position: fixed;
}

.fas {
	padding-right: 5px;
}

.blue {
	color: #007bff;
}

.input:focus {
	outline: none;
}

input::-webkit-input-placeholder {
	color: #aaa;
}

input:focus::-webkit-input-placeholder {
	color: black;
}

.images {
	height: 200px;
	width: 100px;
	background-color: black;
}

.loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.2);
}

.indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.date-location {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	margin-bottom: -10px;
}

.date-location i {
	color: #007bff;
}

.post-text {
	white-space: pre-wrap;
}

.vl {
	padding-left: 4px;
	padding-right: 5px;
}

.share-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.share {
	margin-right: 20px;
}

.carousel {
	width: 50%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
}

.login-card {
	padding: 20px;
	margin: 0 auto;
	max-width: 400px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	top: 50%;
}

.newpost-bottom {
	position: absolute;
	width: 95%;
	margin: 0 auto;
	bottom: 10px;
}

.fileContainer {
	box-shadow: none;
}
/* .fa-share {
	font-weight: 300;
} */

@media only screen and (max-width: 480px) {
	.ReactModal__Content {
		position: relative !important;
		top: 0px !important;
		height: 100vh;
		bottom: 0px !important;
		right: 0px !important;
		left: 0px !important;
	}

	.home-header .btn {
		position: absolute;
		right: 0px;
		top: 8px;
	}

	.date-location {
		flex-direction: column;
	}

	.date-location .vl {
		display: none;
	}

	.title {
		margin-right: 10px;
	}

	.share {
		position: absolute;
		top: 10px;
	}

	.share-button {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		height: 0px;
		position: relative;
	}
}

/* .input:focus + .underline {
	transform: scale(1);
}

.underline {
	background-color: dodgerblue;
	display: inline-block;
	height: 2px;
	left: 50px;
	margin-top: -4px;
	position: absolute;
	top: 185px;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	width: 202px;
} */
